@import "./Base/reset.scss";
@import "./Utils/variables";
@import "./Utils/mixins";

html,body {
    background-color: $Tertiaire ;
}

h1 {
    margin-top: 5vh;
    margin:auto;
    @include Shrikhand;
    color: $Secondaire;
}