.exploration {
  width: 100%;
  height: 287px;
  background: $background-grey;
  padding-top: 18px;

  & h1 {
    color: $background-black;
    margin: auto;
    text-align: center;
    width: 275px;
    height: 68px;
    font-size: 24px;
    @include Roboto;
    font-weight: 700;
  }

  & h3 {
    @include Roboto;
    width: 315px;
    height: 46px;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    margin: auto;
    margin-bottom: 27px;
  }

  & .button {
    @include button($Primaire);
    width: 218px;
    height: 50px;
    margin: auto;
  }
}

.fonctionnement {
  width: 100%;
  height: 440px;
  padding: 2rem;
  counter-reset: myindex;

  &__title {
    @include Roboto;
    font-size: 24px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 26px;
  }

  &__list-ol {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__list-li {
    padding: 1.5rem;
    margin: 1rem 0 1rem 0.75rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
    border-radius: 1.25rem;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: row;
    position: relative;

    &:first-child {
      margin-top: 0;
      font-size: 16px;
      font-weight: 500;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &::after {
      counter-increment: myindex;
      content: counter(myindex);

      background: #9356dc;
      height: 24px;
      width: 24px;
      border-radius: 100px;

      display: flex;
      justify-content: center;
      align-items: center;
      color: white;

      position: absolute;
      left: -0.75rem;
    }
  }

  &__icon {
    margin-right: 1rem;
    color: #7e7e7e;
  }

  &__icon-primaire {
    margin-right: 1rem;
    color: #9356dc;
  }
}

.restaurants {
  width: 100%;
  height: 1226px;
  background: $background-grey;
}
