.exploration {
    width:100%;
    height:287px;
    background:$background-grey;
}

.fonctionnement {
    width:100%;
    height: 440px;
}

.restaurants {
    width:100%;
    height:1226px;
    background: $background-grey;
}

