/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #F7F7F7;
}
.header .header-localisation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 17px;
  font-family: "Roboto", sans-serif;
  color: black;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #353535;
  background: #eaeaea;
  width: 100%;
  height: 50px;
  box-shadow: 0px 4px inset rgba(0, 0, 0, 0.03);
}
.header .header-logo {
  width: 100%;
  height: 44px;
  margin-top: 14px;
  text-align: center;
  background: white;
  padding-top: 25px;
  padding-bottom: 45px;
}

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 186px;
  background: #353535;
}
.footer .container .logo {
  color: white;
  font-family: "Shrikhand", cursive;
  margin-top: 22px;
  margin-left: 25px;
  font-size: 18px;
  margin-bottom: 16px;
}
.footer .footer-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 25px;
  margin-bottom: 22px;
}
.footer .footer-list a {
  color: white;
  text-decoration: none;
}
.footer .fa-solid {
  margin-right: 10px;
}

html, body {
  max-width: 375px;
  margin: auto;
}

.exploration {
  width: 100%;
  height: 287px;
  background: #F7F7F7;
  padding-top: 18px;
}
.exploration h1 {
  color: #353535;
  margin: auto;
  text-align: center;
  width: 275px;
  height: 68px;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  color: black;
  font-weight: 700;
}
.exploration h3 {
  font-family: "Roboto", sans-serif;
  color: black;
  width: 315px;
  height: 46px;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  margin: auto;
  margin-bottom: 27px;
}
.exploration .button {
  width: fit-content;
  border: none;
  padding: 13px 18.75px 13px 30px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 25px;
  color: white;
  padding-top: 14px;
  background: linear-gradient(to top, #9356DC 0%, #FF79DA 100%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  width: 218px;
  height: 50px;
  margin: auto;
}
.exploration .button:hover {
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}
.exploration .button a {
  text-decoration: none;
}

.fonctionnement {
  width: 100%;
  height: 440px;
  padding: 2rem;
  counter-reset: myindex;
}
.fonctionnement__title {
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 24px;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 13px;
}
.fonctionnement__list-ol {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}
.fonctionnement__list-li {
  display: flex;
  flex-direction: row;
  padding: 1.5rem;
  margin: 1rem 0 1rem 0.75rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
  border-radius: 1.25rem;
  background-color: #f6f6f6;
  position: relative;
}
.fonctionnement__list-li:nth-child(1) {
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 16px;
  font-weight: 500;
}
.fonctionnement__list-li:nth-child(2) {
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 16px;
  font-weight: 500;
}
.fonctionnement__list-li:last-child {
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 16px;
  font-weight: 500;
}
.fonctionnement__list-li::after {
  counter-increment: myindex;
  content: counter(myindex);
  background: #9356dc;
  height: 24px;
  width: 24px;
  border-radius: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  left: -0.75rem;
}
.fonctionnement__icon {
  margin-right: 1rem;
  color: #7e7e7e;
}
.fonctionnement__icon-primaire {
  margin-right: 1rem;
  color: #9356dc;
}

.restaurant {
  width: 100%;
  height: 1226px;
  background: #F7F7F7;
  padding-top: 50px;
}
.restaurant__title {
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 24px;
  font-weight: 700;
  margin-left: 20px;
  line-height: 28.13px;
  margin-bottom: 20px;
}
.restaurant .card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.restaurant .card-content .card-txt .card__title {
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 18px;
  font-weight: 700;
  margin-left: 20px;
  margin-top: 10px;
}
.restaurant .card-content .card-txt .card__subtitle {
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 17px;
  font-weight: 300;
  margin-left: 20px;
}
.restaurant .card-content .card__heart {
  padding-top: 1rem;
  margin-right: 2rem;
}
.restaurant .card-content .card__heart .fa-heart {
  color: #9356dc;
}
.restaurant .restaurant__link {
  text-decoration: none;
}
.restaurant .restaurant__article {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.restaurant .restaurant__cards {
  position: relative;
  background: white;
  margin-bottom: 30px;
  width: 340px;
  height: 250px;
  margin: auto;
  border-radius: 1rem 1rem 1rem 1rem;
}
.restaurant .restaurant__cards img {
  height: 10rem;
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  object-fit: cover;
}
.restaurant .card__new {
  position: absolute;
  top: 35px;
  background-color: #99E2D0;
  color: #1b6150;
  border-radius: 0.125rem;
  top: 1rem;
  right: 0.75rem;
  width: 80px;
  padding: 5px 5px;
}

/*# sourceMappingURL=styles.css.map */
