// body {
//   position: relative;
// }

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(#fff, 0.95);
  animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 3s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-play-state: running;
    animation-name: loader-appear;
  

  @for $i from 1 through $nb-circles {
    & .cercle-#{$i} {
      display: inline-block;
      animation: cercle 150ms forwards infinite;
      animation-direction: alternate;
      animation-delay: 100ms * $i;
      fill: hsl(240 + (50* $i), 100%, 50%);
    }
  }

  svg {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
