.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(45deg,#9356dc,#ff79da);
  opacity:0.9;
  animation-play-state: running;
  animation: loader-appear 1s ease 3s 1 normal both;

  @for $i from 1 through $nb-circles {
    & .cercle-#{$i} {
      display: inline-block;
      animation: cercle 150ms forwards infinite;
      animation-direction: alternate;
      animation-delay: 100ms * $i;
      fill: hsl(240 + (50 * $i), 100%, 50%);
    }
  }

  svg {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}
