//variables
$Primaire: #9356DC;
$Secondaire: #FF79DA;
$Tertiaire: #99E2D0;
$background-grey: #F6F6F6;
$background-black:#353535;
$background-white:#fff;
$nombre-plats:3;
$baseColor: #73ad21;
$fontColor: #fff;
$nb-circles: 3;